In [2]:
from pyspark import SparkContext
# sc.stop()

sc = SparkContext("local","RDD1")

stopwords = ["is", "the", "a", "an"]

data = ["Hi, this is pranathi", "I am a recent graduate", "Hi, is this an issue"]
rdd = sc.parallelize(data).flatMap(lambda x:x.split(" "))

rdd1 = rdd.filter(lambda x: x not in stopwords )

rdd2 = rdd1.map(lambda x: (x,1))

rdd3 = rdd2.reduceByKey(lambda x,y : x+y)
rdd3.collect()

[('Hi,', 2),
 ('this', 2),
 ('pranathi', 1),
 ('I', 1),
 ('am', 1),
 ('recent', 1),
 ('graduate', 1),
 ('issue', 1)]

In [3]:
data = [("Alice", 80), ("Bob", 90), ("Alice", 70), ("Bob", 85), ("Charlie", 60)]

rdd = sc.parallelize(data)

rdd1 = rdd.map(lambda x: (x[0], (x[1],1)))

rdd2 = rdd1.reduceByKey(lambda x,y: (x[0]+y[0], x[1]+y[1]))

rdd3 = rdd2.map(lambda x: (x[0], (x[1][0]/x[1][1])))
rdd3.collect()

[('Alice', 75.0), ('Bob', 87.5), ('Charlie', 60.0)]

In [4]:
numbers = [5, 3, 4, 5, 2, 3, 5, 3, 4]

rdd = sc.parallelize(numbers)

rdd1 = rdd.map(lambda x : (x,1))

rdd2 = rdd1.reduceByKey(lambda x,y : x+y)

rdd3 = rdd2.map(lambda x : (x[1],x[0]))

rdd4 = rdd3.sortByKey(ascending=False)
rdd4.take(3)

[(3, 5), (3, 3), (2, 4)]