In [39]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("spark advanced").getOrCreate()

df = spark.read.option("inferschema","true").option("header","true").csv("/content/top_100_saas_companies_2025.csv")

df.printSchema()
df.show()

root
 |-- Company Name: string (nullable = true)
 |-- Founded Year: integer (nullable = true)
 |-- HQ: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Total Funding: string (nullable = true)
 |-- ARR: string (nullable = true)
 |-- Valuation: string (nullable = true)
 |-- Employees: string (nullable = true)
 |-- Top Investors: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- G2 Rating: double (nullable = true)

+------------+------------+--------------------+--------------------+-------------+------+-------------------+---------+--------------------+--------------------+---------+
|Company Name|Founded Year|                  HQ|            Industry|Total Funding|   ARR|          Valuation|Employees|       Top Investors|             Product|G2 Rating|
+------------+------------+--------------------+--------------------+-------------+------+-------------------+---------+--------------------+--------------------+---------+
|   Microsoft|        1975|    Redmond, WA, USA| Enterprise Software|          $1B| $270B|                $3T|  221,000|Bill Gates, Paul ...|Azure, Office 365...|      4.4|
|  Salesforce|        1999|San Francisco, CA...|                 CRM|       $65.4M|$37.9B|            $227.8B|   75,000|Halsey Minor, Lar...|Sales Cloud, Serv...|      4.3|
|       Adobe|        1982|   San Jose, CA, USA|   Creative Software|        $2.5M|$19.4B|              $240B|   29,945|   Hambrecht & Quist|Creative Cloud, D...|      4.5|
|      Oracle|        1977|     Austin, TX, USA|Database & Enterp...|          $2K|$52.9B|              $350B|  143,000|Larry Ellison, Bo...|Oracle Cloud, Net...|      4.0|
|         SAP|        1972|   Walldorf, Germany| Enterprise Software|          N/A|$32.5B|              $215B|  107,415|Dietmar Hopp, Kla...|S/4HANA, SuccessF...|      4.1|
|      Intuit|        1983|Mountain View, CA...|  Financial Software|        $273M|$14.4B|              $180B|   18,200|Sierra Ventures, ...|QuickBooks, TurboTax|      4.4|
|  ServiceNow|        2004|Santa Clara, CA, USA|IT Service Manage...|       $82.5M| $8.9B|              $147B|   20,000|JMI Equity, Sequo...|IT Service Manage...|      4.4|
|     Workday|        2005| Pleasanton, CA, USA|        HR & Finance|      $249.9M| $7.3B|               $65B|   18,800|Greylock Partners...|HCM, Financial Ma...|      4.2|
|        Zoom|        2011|   San Jose, CA, USA|Video Communications|      $145.5M| $4.5B|               $85B|    7,388|Sequoia Capital, ...|Video Conferencin...|      4.5|
|     Shopify|        2006|      Ottawa, Canada|          E-commerce|      $122.3M| $7.1B|               $95B|   11,600|Bessemer, FirstMa...| E-commerce Platform|      4.4|
|   Atlassian|        2002|   Sydney, Australia|Collaboration Sof...|         $60M| $3.5B|               $55B|   11,800|      Accel Partners|Jira, Confluence,...|      4.3|
|   Snowflake|        2012|    Bozeman, MT, USA|    Data Warehousing|        $1.4B| $2.8B|               $75B|    6,500|Sequoia, ICONIQ, ...| Cloud Data Platform|      4.4|
|     HubSpot|        2006|  Cambridge, MA, USA|   Marketing & Sales|      $100.5M| $2.2B|               $32B|    7,600|General Catalyst,...|Marketing Hub, Sa...|      4.4|
|    DocuSign|        2003|San Francisco, CA...|  Digital Agreements|      $514.3M| $2.5B|               $10B|    7,336|Kleiner Perkins, ...|eSignature, Contr...|      4.5|
|       Slack|        2009|San Francisco, CA...|  Team Communication|        $1.4B| $1.7B|$27.7B (Salesforce)|    2,545|Accel, Andreessen...|Team Messaging Pl...|      4.5|
|      Notion|        2013|San Francisco, CA...|        Productivity|        $353M| $400M|               $10B|      800|Index Ventures, S...|All-in-one workspace|      4.7|
|     Datadog|        2010|   New York, NY, USA|Monitoring & Anal...|      $147.9M| $2.1B|               $44B|    5,200|ICONIQ, Index Ven...|Infrastructure Mo...|      4.4|
|     MongoDB|        2007|   New York, NY, USA|            Database|      $311.2M| $1.7B|               $26B|    4,500|   Sequoia, NEA, USV|Document Database...|      4.5|
|        Okta|        2009|San Francisco, CA...| Identity Management|      $230.5M| $2.2B|               $25B|    5,900|Andreessen Horowi...|Identity & Access...|      4.4|
|      Twilio|        2008|San Francisco, CA...|      Communications|      $261.3M| $4.1B|               $12B|    7,867|Bessemer, Union S...| Communications APIs|      4.3|
+------------+------------+--------------------+--------------------+-------------+------+-------------------+---------+--------------------+--------------------+---------+
only showing top 20 rows

In [41]:
#Problem 1: UDF â€“ Standardize Currency Columns

from pyspark.sql.functions import udf, col, regexp_replace
from pyspark.sql.types import DoubleType

df = df.withColumn("Valuation_modified", regexp_replace("Valuation",r"\s*\(.*\)",""))

def currency_columns(val):
  val = val.replace("$","")
  if "T" in val:
    return float(val.replace("T",""))*1000000000000
  if "B" in val:
    return float(val.replace("B",""))*1000000000
  if "M" in val:
    return float(val.replace("M",""))*1000000

currency_udf = udf(currency_columns, DoubleType())

df = df.withColumn("ARR_Num", currency_udf(col("ARR"))).withColumn("Valuation_Num", currency_udf(col("Valuation_modified"))).withColumn("Funding_Num", currency_udf(col("Total Funding")))
df.select("ARR","ARR_Num","Valuation","Valuation_Num","Total Funding","Funding_Num").show()

+------+--------------------+-------------------+-------------+-------------+--------------------+
|   ARR|             ARR_Num|          Valuation|Valuation_Num|Total Funding|         Funding_Num|
+------+--------------------+-------------------+-------------+-------------+--------------------+
| $270B|              2.7E11|                $3T|       3.0E12|          $1B|               1.0E9|
|$37.9B|             3.79E10|            $227.8B|     2.278E11|       $65.4M| 6.540000000000001E7|
|$19.4B|             1.94E10|              $240B|       2.4E11|        $2.5M|           2500000.0|
|$52.9B|             5.29E10|              $350B|       3.5E11|          $2K|                NULL|
|$32.5B|             3.25E10|              $215B|      2.15E11|          N/A|                NULL|
|$14.4B|             1.44E10|              $180B|       1.8E11|        $273M|              2.73E8|
| $8.9B|               8.9E9|              $147B|      1.47E11|       $82.5M|              8.25E7|
| $7.3B|               7.3E9|               $65B|       6.5E10|      $249.9M|             2.499E8|
| $4.5B|               4.5E9|               $85B|       8.5E10|      $145.5M|             1.455E8|
| $7.1B|               7.1E9|               $95B|       9.5E10|      $122.3M|             1.223E8|
| $3.5B|               3.5E9|               $55B|       5.5E10|         $60M|               6.0E7|
| $2.8B|               2.8E9|               $75B|       7.5E10|        $1.4B|               1.4E9|
| $2.2B|               2.2E9|               $32B|       3.2E10|      $100.5M|             1.005E8|
| $2.5B|               2.5E9|               $10B|       1.0E10|      $514.3M|5.1429999999999994E8|
| $1.7B|               1.7E9|$27.7B (Salesforce)|      2.77E10|        $1.4B|               1.4E9|
| $400M|               4.0E8|               $10B|       1.0E10|        $353M|              3.53E8|
| $2.1B|               2.1E9|               $44B|       4.4E10|      $147.9M|             1.479E8|
| $1.7B|               1.7E9|               $26B|       2.6E10|      $311.2M|             3.112E8|
| $2.2B|               2.2E9|               $25B|       2.5E10|      $230.5M|             2.305E8|
| $4.1B|4.0999999999999995E9|               $12B|       1.2E10|      $261.3M|             2.613E8|
+------+--------------------+-------------------+-------------+-------------+--------------------+
only showing top 20 rows

In [50]:
# Problem 2: Window Function â€“ Identify Top Performers per Industry
# Title: Top 2 Companies by Valuation Within Each Industry

from pyspark.sql.functions import desc, col, rank
from pyspark.sql.window import Window

windowed_df = Window.partitionBy("Industry").orderBy(col("Valuation_Num").desc())

df.withColumn("rank", rank().over(windowed_df)).filter(col("rank")<=2).select("Industry","Company Name","Valuation_Num","rank").show()

+--------------------+------------+-------------+----+
|            Industry|Company Name|Valuation_Num|rank|
+--------------------+------------+-------------+----+
|                 APM| AppDynamics|        3.7E9|   1|
|                BNPL|      Affirm|       1.2E10|   1|
|Business Intellig...|      Looker|        2.6E9|   1|
|               CI/CD|    CircleCI|        1.7E9|   1|
|                 CRM|  Salesforce|     2.278E11|   1|
|        Card Issuing|     Marqeta|        4.3E9|   1|
|      Cloud Security|     Zscaler|       3.0E10|   1|
|      Cloud Security|    Netskope|        7.5E9|   2|
|       Cloud Storage|     Dropbox|        8.5E9|   1|
|       Cloud Storage|         Box|        3.5E9|   2|
|       Collaboration|        Miro|      1.75E10|   1|
|Collaboration Sof...|   Atlassian|       5.5E10|   1|
|      Communications|      Twilio|       1.2E10|   1|
|      Communications| RingCentral|        5.0E9|   2|
|        Construction|     Procore|        9.0E9|   1|
|      Contact Center|       Five9|        8.0E9|   1|
|     Corporate Cards|        Brex|      1.23E10|   1|
|   Creative Software|       Adobe|       2.4E11|   1|
|       Customer Data|     Segment|        3.2E9|   1|
| Customer Engagement|       Braze|        5.6E9|   1|
+--------------------+------------+-------------+----+
only showing top 20 rows

In [56]:
# Problem 3: Window Function â€“ ARR Growth Gaps
# Title: Understand Revenue Distribution Among Competitors

from pyspark.sql.functions import desc, col, lag
from pyspark.sql.window import Window

windowed_df = Window.partitionBy("Industry").orderBy(col("ARR_Num").desc())

df.withColumn("lag_ARR_Num", lag("ARR_Num").over(windowed_df)).filter(col("lag_ARR_Num")-col("ARR_Num")>1000000000).select("Industry","ARR_Num","lag_ARR_Num").show()

+-------------------+-------+--------------------+
|           Industry|ARR_Num|         lag_ARR_Num|
+-------------------+-------+--------------------+
|     Cloud Security|  5.0E8|               1.6E9|
|      Cloud Storage|  1.0E9|               2.5E9|
|     Communications|  2.2E9|4.0999999999999995E9|
|      Cybersecurity|  3.1E9|               7.5E9|
|     Data Analytics|  2.2E9|               3.7E9|
|           Database|  1.0E8|               1.7E9|
|             Design|  6.0E8|               2.0E9|
|Enterprise Software|3.25E10|              2.7E11|
|           Payments| 1.4E10|             1.97E10|
+-------------------+-------+--------------------+

In [61]:
# Problem 4: CASE WHEN â€“ Label Companies by G2 Rating
# Title: Classify Companies Based on User Sentiment

from pyspark.sql.functions import col, when

df = df.withColumn("Rating_Tier", when(col("G2 Rating")>=4.7, "Excellent")
            .when((col("G2 Rating")>=4.3) & (col("G2 Rating")<4.7), "Very Good")
            .when((col("G2 Rating")>=4.0) & (col("G2 Rating")<4.3), "Good")
            .otherwise("Average"))
df.select("Industry", "Company Name", "Rating_Tier").show()

+--------------------+------------+-----------+
|            Industry|Company Name|Rating_Tier|
+--------------------+------------+-----------+
| Enterprise Software|   Microsoft|  Very Good|
|                 CRM|  Salesforce|  Very Good|
|   Creative Software|       Adobe|  Very Good|
|Database & Enterp...|      Oracle|       Good|
| Enterprise Software|         SAP|       Good|
|  Financial Software|      Intuit|  Very Good|
|IT Service Manage...|  ServiceNow|  Very Good|
|        HR & Finance|     Workday|       Good|
|Video Communications|        Zoom|  Very Good|
|          E-commerce|     Shopify|  Very Good|
|Collaboration Sof...|   Atlassian|  Very Good|
|    Data Warehousing|   Snowflake|  Very Good|
|   Marketing & Sales|     HubSpot|  Very Good|
|  Digital Agreements|    DocuSign|  Very Good|
|  Team Communication|       Slack|  Very Good|
|        Productivity|      Notion|  Excellent|
|Monitoring & Anal...|     Datadog|  Very Good|
|            Database|     MongoDB|  Very Good|
| Identity Management|        Okta|  Very Good|
|      Communications|      Twilio|  Very Good|
+--------------------+------------+-----------+
only showing top 20 rows

In [93]:
# Problem 5: Join â€“ Investor Tier Enrichment
# Title: Understand Impact of Tier-1 Investors

from pyspark.sql.functions import split

investor_tiers = spark.createDataFrame([
    ("Accel", "Tier 1"),
    ("Sequoia", "Tier 1"),
    ("Andreessen Horowitz", "Tier 1"),
    ("SoftBank", "Tier 2"),
    ("Lightspeed", "Tier 2"),
    ("Unknown", "Tier 3")
], ["Investor", "Tier"])

df = df.withColumn("list_of_investors", split(col("Top Investors"),","))
df = df.withColumn("Investor",col("list_of_investors")[0])
# df.show()

joined_df = df.join(investor_tiers, df.Investor==investor_tiers.Investor, "inner")
# joined_df.show()
filtered_df = joined_df.filter((col("Tier")=="Tier 1")|(col("Tier")=="Tier 2"))
filtered_df.select(df.Industry, "Company Name", df.Investor, "Tier").show()

+--------------------+------------------+-------------------+------+
|            Industry|      Company Name|           Investor|  Tier|
+--------------------+------------------+-------------------+------+
|  Search & Discovery|           Algolia|              Accel|Tier 1|
|      Log Management|        Sumo Logic|              Accel|Tier 1|
|       Customer Data|           Segment|              Accel|Tier 1|
| Customer Engagement|        Freshworks|              Accel|Tier 1|
|  Team Communication|             Slack|              Accel|Tier 1|
|      Cloud Security|          Netskope|            Sequoia|Tier 1|
|   Physical Security|           Verkada|            Sequoia|Tier 1|
|Revenue Intelligence|              Gong|            Sequoia|Tier 1|
|Experience Manage...|         Qualtrics|            Sequoia|Tier 1|
|      Communications|       RingCentral|            Sequoia|Tier 1|
|       Cybersecurity|Palo Alto Networks|            Sequoia|Tier 1|
|   Product Analytics|         Amplitude|            Sequoia|Tier 1|
|      Data Streaming|         Confluent|            Sequoia|Tier 1|
|                 RPA|            UiPath|            Sequoia|Tier 1|
|       Cloud Storage|           Dropbox|            Sequoia|Tier 1|
|              Design|             Canva|            Sequoia|Tier 1|
|            Payments|            Stripe|            Sequoia|Tier 1|
|            Database|           MongoDB|            Sequoia|Tier 1|
|    Data Warehousing|         Snowflake|            Sequoia|Tier 1|
| Endpoint Management|            Tanium|Andreessen Horowitz|Tier 1|
+--------------------+------------------+-------------------+------+
only showing top 20 rows

In [78]:
# Problem 6: Join â€“ Compare with Industry Median
# Title: Classify Companies Based on Valuation Position

industry_medians = spark.createDataFrame([
    ("Enterprise Software", 150_000_000_000),
    ("CRM", 100_000_000_000),
    ("AI", 70_000_000_000),
    ("HRTech", 50_000_000_000),
], ["Industry", "Median_Valuation"])

joined_df = df.join(industry_medians, df.Industry==industry_medians.Industry, "inner")

joined_df = joined_df.withColumn("Valuation_Position", when(col("Valuation_Num")>col("Median_Valuation"), "Median")
              .otherwise("Below"))
joined_df.select(df.Industry, "Company Name", "Valuation_Num", "Median_Valuation", "Valuation_Position").show()

+-------------------+------------+-------------+----------------+------------------+
|           Industry|Company Name|Valuation_Num|Median_Valuation|Valuation_Position|
+-------------------+------------+-------------+----------------+------------------+
|Enterprise Software|         SAP|      2.15E11|    150000000000|            Median|
|Enterprise Software|   Microsoft|       3.0E12|    150000000000|            Median|
|                CRM|  Salesforce|     2.278E11|    100000000000|            Median|
+-------------------+------------+-------------+----------------+------------------+